body {
  font-family: "Karla", sans-serif;
}

img {
  border-radius: 20px;
}

.react-quiz-container .filter-dropdown-select {
  height: 35px !important; /* Use !important as a last resort */
}

.dropdown-options-item {
  color: black !important;
}

.react-quiz-container .incorrect {
  background: #a93131 !important;
  border-radius: 30px !important;
}
.react-quiz-container .correct {
  background: #046e3c !important;
  border-radius: 30px !important;
}

.react-quiz-container .result-answer-wrapper {
  border-radius: 30px !important;
  border-color: transparent !important;
}

.react-quiz-container .result-answer-wrapper h3 {
  border-radius: 30px !important;
}
